<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.project_nanlina">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_main2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_main2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project_NanlinA.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".map_permission"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD_s2_BwFrKHJUgQ_05_Qw5CpTIGLj47DI" />

        <activity
            android:name=".login.ActivityLogIn"
            android:exported="true" />
        <activity
            android:name=".login.ActivityRegister"
            android:exported="true" />
        <activity android:name=".IntroPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".login.RegisterFinish" />
        <activity android:name=".qrcode.QRCodeReader" />
        <activity android:name=".qrcode.PMIdInput" />
        <activity android:name=".parking.ArriveParking"></activity>
        <activity android:name=".parking.ParkingInfo" />
        <activity android:name=".FinishActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
        </activity>
        <activity android:name=".Test2"></activity>
    </application>

</manifest>